* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

a{
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

p a {
  color: red;
}

 
.container {
  display: grid;
  grid-template: 30px 1fr 50px / 1fr;
  grid-template-areas: "header" "content" "footer";
  grid-gap: 5px;
  height: 100vh;
}


.centro {

    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.header {
  padding: 20px;
  grid-area: header;
  background-color: #50EB7A;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.logo{
  margin-left: 50px;
}

.content {
    background-image: url(imagenes/01.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: content;
    
}
.footer {
  align-items: center;
  justify-content: center;
    grid-area: footer;
    background-color: #50EB7A;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.body{
    background-color:rgb(3, 80, 94) ;
} 
  figure{
    border: 1px solid transparent;
    margin: 25px;
    display: inline-block;
    position: relative;
    
  
  }
   figure img{
    margin-top: 150px;
    width: 450px;
    height: 250px;
    }
  
  figcaption{
    color: white;
    display: none;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 3%;
  }
  
  figure:hover figcaption{
    display: block;
  }
  
  iframe{
    margin: 50px;
  }
  
  .logo{
    margin-left: 50px;
  }
  .cont-ul{
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
    position: absolute;
  
  }

  figure{
    border: 1px solid transparent;
    margin: 25px;
    display: inline-block;
    position: relative;
    
  
  }
   figure img{
    margin-top: 150px;
    width: 450px;
    height: 250px;
    }
  
  figcaption{
    color: white;
    display: none;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 3%;
  }
  
  figure:hover figcaption{
    display: block;
  }
  
  iframe{
    margin: 50px;
  }
  
  .logo{
    margin-left: 50px;
  }
  .cont-ul{
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
    position: absolute;
  
  }
  
  li{
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0s;
  }
  
  li:hover{
    background-color:#1fb2c5 ;
  }
  
    
          